
<div class="card bg-dark text-white mt-1">
  <div class="row">
    <div class="col-2">
      <img class="card-img" style="border-radius: 0" src="{{resItem.imgUrl}}" alt="wait">
    </div>
    <div class="col-8">
      <div class="row d-block">
        <h6 class="text-center">{{resItem.resName}}</h6>
        <p>Placeholder dla umiarkowanie dlugiego opisu lorem ipsum i te sprawy blablabla, niech stary kaktus
          przegnije na czubku karate szuruburu
        </p>
        <p class="text-center">Upgrade costs: {{resPrice.upgStone}} stone {{resPrice.upgMetal}} metal and {{resPrice.upgFuel}} fuel</p>
      </div>
    </div>
    <div class="col-2 text-center d-block">   
      <p class="mt-2">Level: {{resItemLevel}}</p>
      <button class="btn btn-primary">Upgrade</button>
    </div>
  </div>
</div>
