<div class="container m-3" *ngIf="buildingLevels$ | async as blevels">
    <div class="card bg-dark text-white mt-1" *ngFor='let element of buildingDesc.default; let index_level=index'>
        <div class="row" *ngIf='calculateCost(element,blevels[index_level]) as resultingCost'>
            <div class="col-2">
                <img class="card-img" style="border-radius: 0" src="{{element.imgUrl}}" alt="wait">
            </div>
            <div class="col-8" >
                <h5 class="text-center">{{element.name}}</h5>
                <p class="text-left">{{element.description}}</p>
                <p class="text-center">Koszt Budowy: 
                    Metal - {{resultingCost.reqMetal}}
                    Kamien - {{resultingCost.reqStone}}
                    Paliwo - {{resultingCost.reqFuel}}</p>
            </div>
            <div class="col-2 d-block text-center">
                <p class="mb-1 mt-4">Poziom: {{blevels[index_level]>0 ? blevels[index_level] : 'Nie wybudowano'}}</p>
                <button [class]='canBuild(resultingCost)'>
                    {{blevels[index_level]>0 ? 'Upgrade' : 'Build'}}
                </button> 
            </div>
        </div>
    </div>
</div>