<div class="container-fluid" *ngIf="playerResources$ | async as pres">
    <div class="row">
        <div class="col-2 text-center text-white px-1 py-2 gradient-menu-L">
            <p class="">Welcome {{nick}}</p>
            <div class="btn-group-vertical w-100">
                <a class="btn-leftmenu" routerLink='buildings'>Buildings</a>
                <a class="btn-leftmenu" routerLink='research'>Research</a>
                <a class="btn-leftmenu" routerLink='production'>Production</a>
            </div>               
        </div>
        <div class="col-8 bg-white px-1 py-2">
            <div class="float-left">
                <p>Available resources</p>
                Stone: {{pres.body.stone}} Metal: {{pres.body.metal}} Fuel: {{pres.body.fuel}}
            </div>
            <div class="float-right">
                <p>Hourly production</p>
                Stone: Metal: Fuel:
            </div>
            <router-outlet></router-outlet>
        </div>
        <div class="col-2 text-center text-white px-1 py-2 gradient-menu-R">
            GHI
        </div>
    </div>
    <div class="row bg-light">
        JKL
    </div>
</div>
